@font-face {
	font-family: "GOT";
	src: url(../fonts/GOT.ttf);
}

@font-face {
	font-family: "TrajanPro-Regular";
	src: url(../fonts/TrajanPro-Regular.woff2);
}

@font-face {
	font-family: "Street2-Thin";
	src: url(../fonts/Street2-Thin.woff2);
}

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body */
body {
	/* font-family: "Poppins", sans-serif; */
	font-family: "TrajanPro-Regular", "Street2-Thin", serif;
	color: white;
	max-width: 1280px;
	margin: 0 auto;
}

.carrossel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
}

.carrossel .imagem {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	display: none;
}

.carrossel .imagem.ativa {
	display: block;
	animation: mudarImagem 0.7s;
}

.conteudo {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-evenly;
}

.conteudo .informacoes {
	display: none;
}

.conteudo .informacoes.ativa {
	display: block;
}

.informacoes h1 {
	font-family: "GOT";
	font-size: 40px;
	margin-bottom: 60px;
	letter-spacing: 8px;
}

.informacoes .descricao {
	width: 49%;
	font-size: 24px;
	line-height: 40px;
	height: 320px;
	overflow: auto;
	padding-right: 15px;
}

.botoes-carrossel {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.botoes-carrossel .botao {
	background-color: #fff;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid transparent;
	cursor: pointer;
	border-color: #fff;
}

.botoes-carrossel .botao.selecionado {
	background-color: #1d8346;
}

main:after {
	content: "";
	min-height: 100vh;
	width: 100vw;
	background-color: blue;
	position: fixed;
	top: 0;
	left: 0;
	background: linear-gradient(120deg, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.05926120448179273) 50%, rgba(0, 0, 0, 1) 90%);
	z-index: -1;
}

@keyframes mudarImagem{
	from { opacity: 0.85; }
	to {opacity: 1; }
}